
<!-- login.component.html -->

<form  class="form"(ngSubmit)="onSubmit()">
    <input  style="width:200px ;height:40px" type="text" placeholder="Username" [(ngModel)]="username" name="username">
  
    <input style="width:200px;height:40px" type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <div>
        <button  style="height:30px" type="submit">login</button>
        <button  style="height:30px" type="submit" (click)="onClickRegister()">Register</button>
    </div>
   
  </form>

  
  